<section class="board">
  <div *ngFor="let row of board; let rowIndex = index" class="line">
    <div
      *ngFor="let cell of row; let colIndex = index"
      class="square"
      [ngClass]="(rowIndex + colIndex) % 2 === 0 ? 'white' : 'black'"
      [class.selected]="selectedPosition?.row === rowIndex && selectedPosition?.col === colIndex"
      (click)="handleClick(rowIndex, colIndex)" 
    >
      <img
        *ngIf="cell"
        class="piece"
        [src]="'assets/pieces/' + cell.type + '-' + cell.color + '.svg'"
        alt="piece"
      />
    </div>
  </div>
</section>
